.coverContainer {
    height: 70vh;

    padding: 50px 30px;
    display: flex;

    color: white;
    background-color: black;
}

.videoContainer {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.coverText {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coverText > h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
}

.coverText > p {
    max-width: 605px;

    font-size: 1.1em;
    text-align: justify;

    letter-spacing: .5px;
    line-height: 1.5em;
}
