.navList {
    display: flex;
    flex-wrap: wrap;
}

.navList > li {
    padding: 3px 15px;

    text-transform: uppercase;
    letter-spacing: .5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background: linear-gradient(to right, rgba(255, 0, 0, 0.4), rgba(255, 0, 0, 0.4));
    background-size: 0% 2px;
    background-position: bottom center;
    background-repeat: no-repeat;
    transition: background-size .3s ease;
}

.navList > li + li {
    margin-left: 3px;
}

.navList > li:hover {
    cursor: pointer;
    background-size: 100% 2px;
}
