.btn {
    margin-bottom: 30px;
    padding: 10px 50px;

    font-size: 1em;
    font-family: cursive, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    border-radius: 5px;

    background-color: rgb(223, 213, 213);
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(176, 176, 176);
}