.message_box {
    margin-bottom: 30px;
}

.message_box:last-child {
    margin-bottom: 0px;
}

.name {
    font-size: 1em;
    text-transform: capitalize;
    font-weight: bold;

    padding: 5px 5px 0px 0px;
}

.comment {
    display: block;

    padding: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1.2em;

    color: black;
    background-color: rgb(190, 190, 190);
}
