.footer {
    padding: 3em;

    text-align: center;

    color: #fff;
    background-color: #222;
}

.socialList {
    display: flex;
    justify-content: center;

    list-style-type: none;
}

.socialList > li {
    margin: 0 1em;
}

.socialList > li:hover {
    color: #ffbb33;
}

.socialList svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyright {
    margin-top: 2em;
}

.copyright > span {
    font-weight: bold;
    color: #ffbb33;
}
